.title {
  margin-top: 7px;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
}

.buttonBack {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: black;
  cursor: pointer;
  float: right;
  background-color: #ffe44d;
  padding: 3px 7px;
  margin: 0 7px;
  border-radius: 7px;
  text-decoration: none;
}

.buttonBack::after {
  content: ' < ';
}

.buttonBack:hover::before {
  content: ' < ';
}

.buttonBack:hover::after {
  content: ' << ';
}
