.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result {
  font-size: 45px;
}

.errorStyle {
  color: rgba(255, 0, 0, 0.8);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.152);
  font-size: 12px;
  padding: 10px 0 3px 0;
  font-weight: 600;
  display: block;
}

.errorMessage {
  color: red;
  font-size: 12px;
  }

  .infoText {
    color: grey;
  font-size: 14px;
  }

  .infoText::before, .errorMessage::before {
    content: ' * ';
  }