.header {
    width: 100%;
    background-color: #fed700;
    padding: 12px 0;
}


.header__wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
}

.faArea {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 17px;
}

.btnTheme, .btnThemeActive {
	padding: 3px;
    font-size: 24px;
    border: 0;
	background-color: transparent;
	color: white;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	width: 25px;
	position: relative;
}

.btnThemeActive {
	color: red;
}

.iconBubble{
	background-color: #ffffff62;
	border-radius: 50%;
	color: #00000089;
	font-weight: 900;
	font-size: 14px;
	width: 22px;
	height: 22px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: absolute;
	bottom: 50%;
	left: 60%;
	transition: 1s;
}

.iconBubble:hover {
	background-color: #ff000062;
	transition: 1s;
}

@media (max-width: 600px) {
	.header__wrapper {
		flex-direction: column;
		align-items: stretch;
		gap: 20px;
	}
	.header__wrapper a, .header__wrapper a > img {
		display: flex;
		justify-content: center;
	}
}