@import "~normalize.css";

* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#root.light {
	background-color: white;
	transition: 0.5s;
}

#root.dark {
	background-color: black;
	color: white;
}

#root.dark .card {
	background-color: #424040;
	border-radius: 10px;
	transition: 0.5s;
}

.container {
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.content {
	padding: 0 0 20px 0;
	flex: 1;
}

.content__sort {
	margin-bottom: 40px;
}


